@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

html, body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    outline: none;
}

.header {
    background-color: #9fe5fa;
    border-bottom: 1px solid lightgray;
    font-size: 40px;
    padding: 20px;
}

.main-container {
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
}

.main {
    border-radius: inherit;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    height: auto;
    margin: 50px;
    width: 40%;
}

h2 {
    padding: 20px;
    margin: 0;
}

.form-component {
    display: block;
    padding: 0px 20px 20px;
}

input, select {
    background-color: transparent;
    border: 1px solid lightgrey;
    border-radius: 5px;
    font-size: 20px;
    margin: 10px;
    outline: none;
    padding: 10px;
    width: 90%;
}

.output {
    padding: 10px;
}